
<h2><%= @user.username %> <%= link_to 'Edit', edit_user_path(@user), :class => "brackets" if can? :edit, @user %></h2>
<div class="linkbox">
</div>

<div class="sidebar">
	<div class="box box_image box_image_avatar">
		<div class="head colhead_dark">Avatar</div>
		<div align="center">
			<%= image_tag @user.avatar.url, :class => "profile_avatar" %>
		</div>
	</div>
	<div class="box box_info box_userinfo_stats">
		<div class="head colhead_dark">Stats</div>
		<ul class="stats nobullet">
			<li>Joined: <%= @user.created_at.to_s(:month_and_year) %></li>
			<li>Last activity: <%= time_ago_in_words(@user.last_active_at) %> ago</li>
			<li>Signed in: <%= pluralize(@user.sign_in_count, "time") %></li>
			<li>Posts: <%= @user.post_count %></li>
			<li>Smartness: <span class="r50">126</span></li>
		</ul>
	</div>

	<div class="box box_info box_lastfm">
		<div class="head colhead_dark">Last.fm</div>
		<ul class="stats nobullet">
			<li>
				Username: <a id="lastfm_username" href="http://www.last.fm/user/Erppy" target="_blank" title="Erppy on Last.fm: 9,582 plays, 0 playlists.">Erppy</a>
			</li>
			<div id="lastfm_stats" data-uid="1">
			</div>
			<li>
				<a href="#" id="lastfm_expand" onclick="return false" class="brackets">Show more info</a>
				<span id="lastfm_reload_container">
					<a href="#" id="lastfm_reload" onclick="return false" class="brackets">Reload stats</a>
				</span>
			</li>
		</ul>
	</div>
</div>
<div class="main_column">
	<div class="box">
		<div class="head">
			<span style="float: left;">Profile</span>
			<span style="float: right;"><a href="#" onclick="$('#profilediv').toggle(); this.innerHTML=(this.innerHTML == 'Hide' ? 'Show' : 'Hide'); return false;" class="brackets">Hide</a></span>&nbsp;
		</div>
		<div class="pad" id="profilediv">
			<%= @user.description.presence || "This user does not have a description :(" %>
		</div>
	</div>
	<table class="layout recent" id="recent_snatches" cellpadding="0" cellspacing="0" border="0">
		<tr class="colhead">
			<td colspan="5">
				Recent posts
			</td>
		</tr>
	</table>
	<%= render 'posts/posts', posts: @posts %>
<br />
</div>