<%= paginate @posts %>

<% @posts.each do |post| %>
  <div class="navbar-inner" style="min-height:0;">
    <h6 style="line-height:20px;margin:0;"><%= time_ago_in_words(post.updated_at) %></h6>
  </div>
<div class="row">
  <div class="span2 panel">
    <%= post.user.username %>
    <%= image_tag post.user.avatar.url %>
    Post count:
    <%= post.user.post_count %>
  </div>
  <div class="span10 content">
    <%= post.content %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>

<br />

<%= link_to 'New Post', new_post_path, :class => "btn" %>
