<%= paginate @posts %>
<!--
<div class="linkbox">
  <strong>1-10</strong> |
  <a href="/"><strong>11-20</strong></a> |
  <a href="/"><strong>21-30</strong></a> |
  <a href="/"><strong>31-40</strong></a> |
  <a href="/"><strong>41-50</strong></a> |
  <a href="/"><strong>51-60</strong></a> |
  <a href="/"><strong>61-70</strong></a> |
  <a href="/"><strong>71-80</strong></a> |
  <a href="/"><strong>81-90</strong></a> |
  <a href="/" class="pager_next"><strong>Next &gt;</strong></a>
  <a href="/"><strong> Last &gt;&gt;</strong></a>
</div>
-->

<% @posts.each do |post| %>
  <table class="forum_post box vertical_margin" id="post<%= post.id %>">
  <tbody>
  <tr class="colhead_dark">
    <td colspan="2">
      <div style="float: left;">
        <span class="time" title="<%= post.updated_at %>"><%= time_ago_in_words(post.updated_at) %> ago</span>
      </div>
      <div id="bar<%= post.id %>" style="float: right;">#<%= link_to post.id, post %></div>
    </td>
  </tr>
  <tr>
    <td class="avatar">
      <div id="username<%= post.id %>"><%= link_to post.user.username, post.user %></div>
      <div class="centered" id="bits<%= post.id %>">
        <%= image_tag post.user.avatar.url, :class => "post_avatar" %><br/>
        <%= post.user.created_at.to_s(:month_and_year) %><br/>
        <%= post.user.post_count %> Posts
      </div>
    </td>
    <td class="body">
      <div id="content<%= post.id %>">
         <%= simple_format(post.content) %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="postdata">
      <%= format_os(post.os) %>
      <%= format_browser(post.browser) %>
      <%= format_country(post.country_code) %>
      <%= image_tag "#{root_path}assets/events.png", :class => "load_events", :uid => post.user.id %>
      <%= image_tag "#{root_path}assets/report.png", :class => "load_report", :pid => post.id %>
    </td>
    <td>
      <div style="float: left;">
        ratings
      </div>
      <div id="options<%= post.id %>" style="float: right;">
        <%= format_post_edit(post) %>
        <%= format_post_delete(post) %>
        <a href="javascript:void(0);" class="brackets">Quote</a>
      </div>
    </td>
  </tr>
  </tbody>
  </table>
  <div class="events"></div>
<% end %>

<% if @posts.count == 0 %>
No posts were found :(
<% end %>

<!--
<div class="linkbox">
  <strong>1-10</strong> |
  <a href="/"><strong>11-20</strong></a> |
  <a href="/"><strong>21-30</strong></a> |
  <a href="/"><strong>31-40</strong></a> |
  <a href="/"><strong>41-50</strong></a> |
  <a href="/"><strong>51-60</strong></a> |
  <a href="/"><strong>61-70</strong></a> |
  <a href="/"><strong>71-80</strong></a> |
  <a href="/"><strong>81-90</strong></a> |
  <a href="/" class="pager_next"><strong>Next &gt;</strong></a>
  <a href="/"><strong> Last &gt;&gt;</strong></a>
</div>
-->
<% if user_signed_in? %>

<br>
<div id="reply_box">
  <h3>Post comment</h3>
  <div class="box pad">
    <%= form_for @post, :html => { :class =>"send_form center" } do |f| %>
      <div id="quickreplytext">
        <div class="textarea_wrap">
          <%= f.text_area :content, :cols => "65", :rows => "8" %>
        </div>
        <br>
      </div>
      <div class="preview_submit">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<% end %>
