<div id="header">
  <div id="logo">
    <%= link_to "Elixir Thread", root_path %>
  </div>

  <% if user_signed_in? %>
    <div id="userinfo">
      <ul id="userinfo_username">
      <% if current_user.post_count == 0 %>
        <li>You've been a member for <%= time_ago_in_words(current_user.created_at) %> and made <span class="stat r00">0</span> posts. Be ashamed.</li>
      <% else %>
        <li>You've made <span class="stat"><%= current_user.post_count %></span> horrendous <%= pluralize_without_count(current_user.post_count, 'post') %> yielding you <span class="stat r50" title="(Random integer)"><%= 1 + rand(100) %></span> smartness.</li>
      <% end %>
      </ul>
      <ul id="userinfo_minor">
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      </ul>
    </div>
  <% end %>

  <div id="menu">
    <ul>
      <li<%= params[:controller] == 'search' ? ' class=active' : '' %>><a href="/">Search</a></li>
      <li<%= params[:controller] == 'events' ? ' class=active' : '' %>><%= link_to "Events", events_path %></li>
      <li><a href="/">Latest</a></li>
      <li><%= link_to "All Users", users_path %></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_registration_path(resource_name) %></li>
      <% else %>
        <li<%= (user_page?(params) ? ' class=active' : '') %>><%= link_to current_user.username, current_user %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% end %>
    </ul>
  </div>
</div>