<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Elixir Thread</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<h1 class="hidden">Elixir Thread</h1>
		<%= render 'layouts/header' %>
		<div id="content">
  			<div class="thin">
  				<p id="notice"><%= notice %></p>
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</div>
	<div id="extra1"><span></span></div>
</body>
</html>